<div class="competition-promo vpad--xxxxl" style="background-image: url('{{site.img}}/img.jpg')">

  <div class="container container--xxl">
    <div class="text--center text--white">
      <h2 class="title title--xl">Test Drive the Lexus RX</h2>
      <div class="container container--no-padding container--lg">
        <p class="text--lg vpad--xxs">Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
        <div class="space--sm"></div>
        <a href="{{site.baseurl}}/lexus" class="btn btn--orange">Book now</a>
      </div>
    </div>
  </div>

</div>