<div class="test-drive-promo bg--img vpad--xxxxl" style="background-image: url('{{site.img}}/content/promo-test-drive.jpg')">

  <div class="container container--xl">
    <div class="text--center text--white">
      <h2 class="title title--xxl text--bold">Test Drive the Lexus RX</h2>
      <hr class="hr--center">
      <p class="text--lg text--normal"> Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/lexus" class="btn btn--orange">Book now</a>
    </div>
  </div>

</div>