<div class="test-drive-promo bg--img vpad--xxxl text--center text--white" style="background-image: url('{{site.img}}/content/promo-test-drive.jpg')">

    <div class="container container--xl">
      <h2 class="title title--lg text--bolder">Test drive the Lexus RX or the<br /> new seven-seat Lexus RX L</h2>
      <hr class="hr--thick hr--center">
      <p class="text--lg text--normal">Discover the self-charging hybrid Lexus RX, or for those big adventures, the Lexus RX L – now available for 24-hour test drives. Don’t miss your Lexus RX adventure...</p>
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/lexus" class="btn btn--invert">Book now</a>
    </div>
  </div>

</div>