
<div class="roadtrip-tile roadtrip-tile--large" style="background-image: url({{site.img}}/content/{{roadtrip.id}}/banner.jpg);">
  <a href="{{site.baseurl}}{{roadtrip.url}}" class="roadtrip-tile__link"></a>
  <div class="roadtrip-tile__content text--white">
    <div class="boxpad--lg">

      <div class="title title--xxs text--bold text--normal text--upper text--wide-kern">Behind the scenes</div>
      <div class="space--xxs"></div>
      <h3 class="title title--xl text--bolder text--upper">{{roadtrip.title}}</h3>

    </div>
  </div>
  <div class="roadtrip-tile__overlay"></div>
</div>