// element styles for written content

em      { font-style: italic; }
strong  { font-weight: 600; }
sup {
  font-size: $s-1;
  line-height: 0;
  vertical-align: super;
}

.text--white {
  color: $white;
  &.title,
  & .title { color: $white; }
}

// standard inline link style
a[href]:not([class]) {
  color: $orange;
  @include transition;
  &:hover { color: $orange-darker; }
}

li {
  list-style-position:
  outside; margin-left: $s1;
}
ul li   { list-style-type: disc; }
ol li   { list-style-type: decimal; }

hr {
  border: 0;
  height: 1px;
  background-color: $grey-darker;
  margin: $s1 0;
  .text--white & { background-color: $white; }
}
.hr {
  &--left { width: 80px; margin-left: 0; }
  &--right { width: 80px; margin-left: 0; }
  &--center { width: 80px; margin-left: auto; margin-right: auto; }
  &--thick { height: 4px; }
}
