// These are the default settings for type

html { // This is the root size for REM
  font-size: 81.25%; // = 13px
  @include bp($md) { font-size: 87.5%; } // = 14px
  @include bp($xl) { font-size: 92.5%; } // = 15px
}

body {

  // font rendering options
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // standard
  font-family: $font-core;
  -webkit-text-size-adjust: 100%;

  // light theme
  font-weight: 300;
  line-height: 1.55;
  letter-spacing: .015rem;
  color: $grey-dark;
  background-color: $white;

}

blockquote {
  display: block;
  margin: 1em 0;
  padding-left: 0.8em;
  border-left: 5px solid rgba($grey-darkest,0.2);
  font-style: italic;
  font-size: $s1;
  font-weight: 400;
  @include bp($xxl){
    float: right;
    width: 50%;
    margin: 1em 0 1em 1em;
  }
}