<!-- George summary + hotel stayed in + hotels in the area -->
<div class="container container--xxl container--no-padding modal__content modal-text bg--white">

  <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/content/the-family-escape/{{item.id}}.jpg);"></div>

  <div class="boxpad--xxl">

    <h3 class="title title--xl text--upper text--bold">{{item.title}}</h3>
    <hr class="hr--thick">
    <p class="text--xl">{{item.content}}</p>


    <div class="space--xxl"></div>
    <h4 class="title title--md text--normal">Stay where George stayed</h4>
    <div class="space--md"></div>

    {% assign featured-offer = site.data.offers | where: "id", item.offer-id %}
    {% for offer in featured-offer %}
      <div class="col">
        {% include offer/offer-large.html %}
      </div>
    {% endfor %}


    <div class="space--xxl"></div>
    <h4 class="title title--md text--normal">{{item.title}} Offers</h4>
    <div class="space--md"></div>

    <div class="row row--xl-6-6 row--gutters-lg">
      {% assign offers = site.data.offers | where: "region", item.id %}
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>
