---
layout: standard
id: lexus
title: Lexus
nav: true
nav-order: 5
content-pages: true

intro: >
  <p class="text--lg">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>

features:

  - id: feature-1
    title: Feature
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: feature-2
    title: Feature
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: feature-3
    title: Feature
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

---

<div class="container container--xxl text--center vpad--xxxl">
  {{page.intro}}
</div>


<div class="vpad--xxl bg--grey-lightest">
  <div class="container">
    {% for feature in page.features %}
      <div class="bob{% cycle "", " bob--swap"%}">
        <div class="bob__img">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
        </div>
        <div class="bob__text">
          <h4 class="title title--sm">{{feature.title}}</h4>
          <div class="space--sm"></div>
          {{feature.content}}
        </div>
      </div>
      {% unless forloop.last %} <div class="space--xl"></div> {% endunless %}
    {% endfor %}
  </div>
</div>


{% include page/promo-competition.html %}