---
layout: standard
id: the-family-escape
title: The Family Escape

intro: >
  <p class="text--lg">George Hiles and his family run, rather typically, a busy household. Yet with the new Lexus RX waiting on the driveway, they’re offered a rare chance to escape the everyday and embark on an adventure into the great outdoors. </p>
  <p class="text--lg">Discover the behind-the-scenes story of filming this adventure, with first-hand tips on how best to plan your very own road-trip getaway. </p>




story:
  title: Our journey
  intro: >
    <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p>Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>
  sections:

    - layout: two-col
      title: Cotswolds
      link:
      content:
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>

    - layout: two-col
      title: Peak District
      link:
      content:
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>

    - layout: two-col
      title: Lake District
      link:
      content:
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>

    - layout: two-col
      title: Conclusion
      link:
      content:
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>




where-to-stay:

  - id: cotswolds
    title: Cotswolds
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: peak-district
    title: Peak District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: lake-district
    title: Lake District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

---



<div class="vpad--xxl container">

  <div class="row row--valign-center">
    <div class="col col--4">
      {{page.intro}}
    </div>
    <div class="col col--8">

      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/video.jpg');">
        <a href="javascript:void(0);" data-modal-item="video-modal" class="js-open-modal bg-img__link"></a>
        <div class="bg-img__content">
          <div class="bg-img__play">
            <img src="{{site.img}}/icons/play.svg" alt="Play" width="100%">
          </div>
        </div>
        <div class="bg-img__bg-overlay"></div>
      </div>

    </div>
  </div>


  {% assign story = page.story %}
  <div class="story">

    <div class="container container--xl">
      <div class="space--xxxl"></div>
      <h2 class="title title--xl text--bold">{{story.title}}</h2>
      <div class="space--sm"></div>
      {{story.intro}}
    </div>

    {% for section in story.sections %}
      <div class="space--xl row row--6-6 row--no-gutters">
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
        </div>
      </div>
      <div class="space--xl container container--xl">
        <h4 class="title title--md text--bold">{{section.title}}</h4>
        {{section.content}}
      </div>
    {% endfor %}
  </div>

</div>



<div class="vpad--xxl bg--grey-lightest">

  <div class="container">
    <div class="row row--4-4-4">
      {% for stay in page.where-to-stay %}

        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/{{stay.id}}.jpg);">
            <a data-modal-item="{{stay.id}}" href="javascript:void(0);" class="bg-img__link js-open-modal"></a>
            <div class="bg-img__content">
              <div class="boxpad--lg">
                <h4 class="title title--xxxs text--bold text--upper text--wide-kern">Stay in the</h4>
                <div class="space--xxxs"></div>
                <h4 class="title title--md text--bold">{{stay.title}}</h4>
                <div class="space--xxs"></div>
                <a href="javascript:void(0);" data-modal-item="{{stay.id}}" class="js-open-modal btn btn--primary btn--sm">View offers</a>
              </div>
            </div>
            <div class="bg-img__overlay"></div>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="space--xxl"></div>

    <h3 class="title title--md text--bold">Now go on your own roadtrip</h3>
    <div class="space--md"></div>

    <div class="row row--4-4-4">
      {% assign roadtrips = site.html_pages | where: 'group-parent', 'roadtrips' | sort: 'group-order' %}
      {% for roadtrip in roadtrips %}
        <div class="col">
          {% include page/roadtrip-tile.html %}
        </div>
      {% endfor %}
    </div>


  </div>


</div>



{% include page/promo-test-drive.html %}
