---
layout: standard
id: the-family-escape
title: The Family Escape

banner:
  title: The Family<br />Escape

intro: >
  <p class="text--lg">George Hiles and his family run, rather typically, a busy household. Yet with the Lexus RX waiting on the driveway, they’re offered a rare chance to escape the everyday and embark on an adventure into the great outdoors.</p>

test-drive-url: https://ad.doubleclick.net/ddm/clk/425962149;227782451;p



story:
  title: Our journey
  intro: >
    <p>My family and I were set for our very own road-trip adventure. We’d been given use of the Lexus RX, which had been delivered the previous day. To really test this new car – and my family – I had decided on a round trip to the stunning Lake District – all 800 glorious miles of it. It was a true adventure in the making. </p>
    <p>It was also an adventure I would share with my family – for my wife Emma and I, having an opportunity to spend some quality time with the kids was becoming all too rare these days – and they’re growing up so quickly! At 10 (Mia) and 11 (Zack) I figured this could be a good chance to make some great memories.</p>
    <p>The 800-mile road trip would see us stop at the Cotswolds, on to the Peak District and finally arriving at the Lake District for a few days of raw fun.</p>
    <p>We clambered into the car, packed the boot to its brim, and set off for a week of adventure in Britain’s great outdoors. </p>
  sections:

    - title: Cotswolds
      images:
        - src: cotswolds-01.jpg
        - src: cotswolds-02.jpg
      link:
      content:
        <p>It didn’t take long before our trip started meandering through one of England’s finest beauty spots. The Cotswolds is one of those gorgeous collections of quaint villages and country roads, a perfect setting for our first stop. As we navigated through thick hedgerows and past unique Cotswolds cottages, we arrived at our stay for the night. The Lakes by Yoo made for a really impressive sight and it was clear that the excitement had risen in the kids as they peered out of the car windows. </p>
        <blockquote>
          There are echoes of Swedish minimalism, with vast floor to ceiling windows making the most of the superb views over the water.
        </blockquote>
        <p>The estate is remarkably different looking to the rest of the Cotswolds. Set in 850 acres of freshwater lakes and woodland, the lakeside apartments are of a remarkable, modern design.  There are echoes of Swedish minimalism, with vast floor to ceiling windows making the most of the superb views over the water. There were also plenty of activities on offer, with canoes and bicycles darting across land and water. We were staying in the Huntsman Lakehouse. We unpacked the car and quickly got roped into a game of footie and a bit of badminton – I think the kids had a bit of energy to work out of their system! A quick supper was made all the more magical by the stunning views outside the house – but an early start meant retiring early and taking advantage of the luxurious and welcoming rooms. </p>
        <p>Before heading for the Peak District and further to the Lakes, we stopped by Bourton-on-the-Water, Burford and Bibury – three unmissable villages that really typify the beauty of the Cotswolds.  </p>

    - title: Peak District
      images:
        - src: peaks-01.jpg
        - src: peaks-02.jpg
      link:
      content:
        <p>Our entrance to the Peaks was marked by the picturesque village of Baslow, a sign to wake up the kids after three hours on the road.  After a leg-stretch and breath of fresh air, we headed for our stay – the Gardener’s Cottage.</p>
        <blockquote>
          The grounds are dotted with wild roaming sheep and deer, with the grand house sitting proudly in the centre of it all...
        </blockquote>
        <p>Situated within the vast grounds of Chatsworth House, it was a quaint and fitting spot set in beautiful grounds. The wonderful people at Devonshire Hotels had laid on a loaded hamper for our arrival, which was incredibly welcomed given the long drive. The scotch eggs were delicious, scoffed up within seconds! The cottage had bags of charm, with rooms full of character – the kind you’d expect from such a grand setting. After settling in, we decided to walk the grounds of this vast estate.</p>
        <p>The place was truly stunning. The grounds are dotted with wild roaming sheep and deer, with the grand house sitting proudly in the centre of it all. The gardens were a rare treat, a truly beautiful space that really took us aback.</p>

    - title:
      images:
        - src: photo-01.jpg
      link:
      content:
        <p>As a keen photographer I wanted to use this trip to show my son Zack why I love taking photos, in a vain hope to pass on my passion.  Having the film crew around was a great help in getting Zack excited about photography – unlike super un-trendy dad they were a relatively young bunch who shared passion and excitement for their work – Zack could see he was onto something good…</p>
        <blockquote>
          I nervously proposed a very early start to Zack – without a flinch, he accepted; I was one proud dad.
        </blockquote>
        <p>Weeks before the trip I had eyed up the infamous Winnats Pass near Mam Tor (known for its great views) as a place I wanted to show Zack. As sunset offers the best light and least crowds, I nervously proposed a very early start to Zack – without a flinch, he accepted; I was one proud dad. A 4am start saw us tackling the peak, tired yet excited. After a half-hour climb in minimal light, we reached the summit and were greeted with a truly spectacular view. With cameras in hand, it was clear Zack was having the best time. Zack and I were in awe of the views, and I was bowled over to see his enthusiasm at trying something dad likes to do. It was a moment I won’t soon forget. </p>
        <p>Bed was calling – we all enjoyed a very lazy morning that day. Saturday afternoon promised a visit to Monsal Head, a lovely little walk with a stunning viaduct cutting through the valley. It completed our adventure in the Peaks, a perfectly picturesque scene typical of this stunning area.</p>

    - title: Lake District
      images:
        - src: lakes-01.jpg
        - src: lakes-02.jpg
      link:
      content:
        <p>Pressing on with our road trip, it was becoming apparent that we were all looking for a place we could call a base for longer than just a few nights. Our whirlwind tour had thus far proved great fun, but a bit of rest was much needed – and where better, than the Lake District?</p>
        <blockquote>
          Our whirlwind tour had thus far proved great fun, but a bit of rest was much needed – and where better, than the Lake District?
        </blockquote>
        <p>We headed for our hotel, Another Place. A relatively new stay based on the shores of Ullswater, we were afforded gorgeous views over the lake and fells in a enviably-designed family suite. The restaurant relied on local suppliers which made for many a delicious evening. The lake was also a hive of activity, with kayaking, sailing and more all available through the hotel. </p>
        <p>The next few days were spent chasing the best shots for the video and also having a great time with the family. It was a given that we would tackle some of the UK’s finest and most challenging roads whilst in the Lakes – so the Hardknott Pass was our next challenge. Turns out we had to drive the pass more times than comfortable so the crew could get the right shots – Emma’s face as we approached the sheer drops at the edge of the road was, well, a picture. </p>

    - title:
      images:
        - src: conclusion-01.jpg
        - src: conclusion-02.jpg
      link:
      content:
        <p>A walk was needed to settle everyone’s nerves. We made for Hallin Fell, recommended by many friends as an unmissable walk. They suggested it was a great mix of not being particularly challenging or lengthy, and rewarding with just incredible views over the fells and lakes. It sounded perfect. The kids wouldn’t tire themselves out and we could really enjoy the great outdoors. But sometimes, things just don’t work out how you planned them...</p>
        <p>Here’s the short story, to save you from the rather stressful details  – we went the wrong way. A turn in the wrong direction saw us not tackling the easy walk we had been promised; instead, we somehow ended up following an incredibly dangerous route instead. Rather stupidly deciding to push on, we spent well over an hour climbing rather dangerous slopes, cameras and all. Once we finally did reach the top, a little confused about what we had just gone through, we were greeted by heavy rain and a view that didn’t reach further than five foot. </p>
        <p>Yet strangely, although we didn’t get any good shots of the views, we weren’t disheartened. In fact, we all felt like we’d experienced a real adventure. Though a bit soggy, we returned to our stay and huddled round the campfire, on the shores of the lake. It was a fitting end to our road trip, an experience that we all laughed about that night and rather than getting us down – though it might be a cliché – brought us closer together. Though we had a long drive back the next day, there were plenty of stories to bring home with us. </p>




where-to-stay:

  - id: cotswolds
    title: Cotswolds
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: peak-district
    title: Peak District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: lake-district
    title: Lake District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

---



<div class="vpad--xxl container">

  <div class="row row--valign-center">
    <div class="col col--4">
      <div class="story__family bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/content/{{page.id}}/family-pic.jpg);"></div>
      <div class="space--xxs"></div>
      {{page.intro}}
    </div>
    <div class="col col--8">

      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/video.jpg');">
        <a href="javascript:void(0);" data-modal-item="video-modal" class="js-open-modal bg-img__link"></a>
        <div class="bg-img__content">
          <div class="bg-img__play">
            <img src="{{site.img}}/icons/play.svg" alt="Play" width="100%">
          </div>
        </div>
        <div class="bg-img__bg-overlay"></div>
      </div>

    </div>
  </div>
</div>



<div class="story bg--grey-lightest">
  {% assign story = page.story %}
  <div class="container container--xxl">
    <div class="container container--xl">
      <div class="space--xxxl"></div>
      <h2 class="title title--xl text--bold">{{story.title}}</h2>
      <div class="space--sm"></div>
      {{story.intro}}
    </div>

    {% for section in story.sections %}
      {% if section.images.size > 1 %}
      <div class="space--xl row row--6-6 row--no-gutters">
        {% for image in section.images %}
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/story/{{image.src}});"></div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="space--xl">
        {% for image in section.images %}
        <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/content/{{page.id}}/story/{{image.src}});"></div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="space--xl container container--xl">
        <h4 class="title title--md text--bold">{{section.title}}</h4>
        {{section.content}}
      </div>
    {% endfor %}
    </div>
  </div>
</div>





<div class="vpad--xxl bg--grey-lightest">

  <div class="container">
    <div class="row row--4-4-4">
      {% for stay in page.where-to-stay %}

        <div class="col">
          <div class="bg-img bg-img--16-9 bg-img--lg-3-4 bg-img--xxl-4-3" style="background-image: url({{site.img}}/content/{{page.id}}/{{stay.id}}.jpg);">
            <a data-modal-item="{{stay.id}}" href="javascript:void(0);" class="bg-img__link js-open-modal"></a>
            <div class="bg-img__content">
              <div class="boxpad--lg">
                <h4 class="title title--xxxs text--bold text--upper text--wide-kern">Stay in the</h4>
                <div class="space--xxxs"></div>
                <h4 class="title title--md text--bold">{{stay.title}}</h4>
                <div class="space--xxs"></div>
                <a href="javascript:void(0);" data-modal-item="{{stay.id}}" class="js-open-modal btn btn--primary btn--sm">View offers</a>
              </div>
            </div>
            <div class="bg-img__overlay"></div>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="space--xxl"></div>

    <h3 class="title title--md text--bold">Now go on your own roadtrip</h3>
    <div class="space--md"></div>

    <div class="row row--xxl-4-4-4">
      {% assign roadtrips = site.html_pages | where: 'group-parent', 'roadtrips' | sort: 'group-order' %}
      {% for roadtrip in roadtrips %}
        <div class="col">
          {% include page/roadtrip-tile.html %}
        </div>
      {% endfor %}
    </div>


  </div>


</div>



{% include page/promo-test-drive.html %}
