---
layout: standard
id: family-getaway
title: A Family Getaway
nav: true
nav-order: 2
content-pages: true

intro: >
  <p class="text--xl">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. </p>
  <p class="text--xl">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>

features:

  - id: cotswolds
    title: Cotswolds
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: peak-district
    title: Peak District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

  - id: lake-district
    title: Lake District
    content: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.

---



<div class="vpad--xxl container">

  <div class="row row--valign-center">
    <div class="col col--4">
      {{page.intro}}
    </div>
    <div class="col col--8">

      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/video.jpg');">
        <a href="javascript:void(0);" data-modal-item="video-modal" class="js-open-modal bg-img__link"></a>
        <div class="bg-img__content">
          <div class="bg-img__play">
            <img src="{{site.img}}/icons/play.svg" alt="Play" width="100%">
          </div>
        </div>
        <div class="bg-img__bg-overlay"></div>
      </div>

    </div>
  </div>

</div>



<div class="vpad--xxl bg--grey-lightest">

  <div class="container">
    {% for feature in page.features %}
      <div class="bob{% cycle "", " bob--swap"%}">
        <div class="bob__img">
          <a href="javascript:void(0);" data-modal-item="{{feature.id}}" class="js-open-modal bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/{{feature.id}}.jpg);"></a>
        </div>
        <div class="bob__text">
          <h4 class="title title--lg text--normal">{{feature.title}}</h4>
          <hr class="hr--thick">
          <p class="text--lg">{{feature.content}}</p>
          <div class="space--sm"></div>
          <a href="javascript:void(0);" data-modal-item="{{feature.id}}" class="js-open-modal btn btn--solid btn--sm">Find out more</a>
        </div>
      </div>
      {% unless forloop.last %} <div class="space--xxxl"></div> {% endunless %}
    {% endfor %}
  </div>


</div>



{% include page/promo-test-drive.html %}
