
<div class="roadtrip__stop">
  <!-- ROADTRIP LAST PAGE -->

  <div class="roadtrip__stop-title">
    <span class="title title--xxs text--upper text--wide-kern text--bold">{{page.title}}</span>
    <div class="roadtrip__nav">
      <a href="javascript:void(0);" class="roadtrip__nav-prev"></a>
      <a href="javascript:void(0);" class="roadtrip__nav-next"></a>
    </div>
  </div>

  <div class="roadtrip__stop-images">
    <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/content/roadtrip-test-drive.jpg);"></div>
  </div>

  <div class="roadtrip__stop-content">
    <h4 class="title title--xl text--bold text--upper">Book a test drive</h4>
    <hr class="hr--thick">
    <p class="text--lg">Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. </p>
    <div class="space--sm"></div>
    <a href="#" class="btn btn--solid">Book now</a>
  </div>

</div>