
<div class="roadtrip__stop">
  <!-- ROADTRIP LAST PAGE -->

  <div class="roadtrip__stop-title">
    <span class="title title--xxs text--upper text--wide-kern text--bold">{{page.title}}</span>
    <div class="roadtrip__nav">
      <a href="javascript:void(0);" class="roadtrip__nav-prev"></a>
      <a href="javascript:void(0);" class="roadtrip__nav-next"></a>
      <a href="javascript:void(0);" class="roadtrip__nav-close"  data-stop-link="0" data-stop-id="start"></a>
    </div>
  </div>

  <div class="roadtrip__stop-images">
    <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/content/roadtrip-test-drive.jpg);"></div>
  </div>

  <div class="roadtrip__stop-content">
    <div class="container container--xl text--center">
      <h4 class="title title--lg text--bolder">Test Drive the Lexus RX or the new 7 seat Lexus RX L</h4>
      <p class="text--lg">Discover the self-charging hybrid Lexus RX, or for those big adventures, the Lexus RX L – now available for 24-hour test drives. Don’t miss your Lexus RX adventure...</p>
      <div class="space--sm"></div>
      <a href="{{page.test-drive-url}}" class="btn btn--primary">Book now</a>
    </div>
  </div>

</div>