// general styles for the project that wouldn't be a reuseable component



// OVERVIEW PAGE
.roadtrips-section {
  position: relative;
}
.roadtrip-tile {
  @include transition;
  @include background-attributes;
  transform: scale(1);
  border: 0 solid $white;
  position: relative;
  z-index: 1;
  &:hover {
    transform: scale(1.05); z-index: 2;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 66.6667%;
    @include bp($xxl){ padding-top: 133.33333%; }
  }
  &__link {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__overlay {
    @include transition;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-color: rgba($grey-darkest,.2);
  }
  &:hover &__overlay { background-color: rgba($grey-darkest,.5); }
  // large version
  &--large:before {
    padding-top: 66.6667%;
    @include bp($xxl){ padding-top: 33%; }
  }
  &--large:hover { transform: scale(1.02); }
  &--large &__content {
    top: 50%; bottom: auto; left: 0; right: auto;
    transform: translateY(-50%);
  }
}




// ROADTRIP PAGE
.roadtrip {
  $core-nav-height:     70px;
  $core-nav-height-sm:  54px;
  $site-nav-height:    56px;
  $site-nav-height-sm: 44px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  @include bp($xl){
    flex-direction: row-reverse;
    justify-content: center;
    display: flex;
    overflow: hidden;
  }

  // roadtrip stop container
  &__content {
    display: block;
    width: 100%;
    position: relative;
    @include bp($xl){
      box-shadow: 0 0 100px 0 rgba($grey-dark,0.5);
      height: 100%;
      width: 66.667%;
      max-width: 960px;
    }
  }
  // roadtrip stop
  &__stop {
    &.is-current { display: flex; }
    display: none;
    background-color: $white;
    flex-direction: column;
    padding-top: 60px;
    @include bp($xl){
      padding-top: $site-nav-height;
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: scroll;
    }
    &-content {
      padding: $s3;
      @include bp($xl){
        padding: $s6;
      }
    }
    &-title {
      padding: $s6 0 $s2;
      margin: 0 $s6;
      border-bottom: 4px solid $grey-darkest;
      position: relative;
    }
    // intro panel
    &-intro {
      @include background-attributes;
      padding-top: $site-nav-height-sm + $core-nav-height-sm;
      @include bp($lg){
        padding-top: $site-nav-height + $core-nav-height;
      }
    }
  }

  // roadtrip map
  &__map {
    position: fixed !important;
    top: $s13; bottom: $s2;
    left: $s2; right: $s2;
    overflow: hidden;
    display: block;
    z-index: -1;
    visibility: hidden;
    &--mobile-active {
      visibility: visible;
      z-index: 1000;
    }
    @include bp($xl){
      visibility: visible;
      display: block;
      position: relative !important;
      z-index: 0;
      top: 0; left: 0; bottom: 0; right: 0;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      width: auto;
    }
    &-close {
      $icon-size-sm: 3.2em;
      $icon-size: 4em;
      @include transition;
      position: absolute;
      right: 0;
      top: 0;
      height: $icon-size-sm;
      width: $icon-size-sm;
      background-color: rgba($white,0.8);
      background-image: url('../img/icons/close-dark.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1em;
      cursor: pointer;
      z-index: $z-overlay-upper;
      &:hover{ background-color: $white; }
      @include bp($lg){
        height: $icon-size;
        width: $icon-size;
      }
      @include bp($xl){ display: none; }
    }
  }

  &__mobile {
    &-controls {
      display: block;
      @include bp($xl){ display: none; }
    }
    // open button
    &-open-map { display: inline-block; }
  }

  // navigation tiles
  &__nav-jump {
    width: 100%;
    display: block;
  }

  // roadtrip navigation
  &__nav {
    $icon-size: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
    &-prev, &-next, &-close {
      background-color: $grey-darkest;
      height: $icon-size; width: $icon-size;
      display: inline-block;
      background-size: auto 60%;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
    }
    &-prev { background-image: url('../img/icons/arrow-left.svg'); }
    &-next { background-image: url('../img/icons/arrow-right.svg'); margin-left: 0.5em; }
    &-close { background-image: url('../img/icons/close-thin.svg'); margin-left: 0.5em; }
  }

}



// THE FAMILY ESCAPE
.story__family {
  width: 100%;
  max-width: 120px;
  @include bp($xxxl){
    max-width: 200px;
  }
}



// COMPETITION PAGE

.banner--competition {}
.competition-title {
  font-family: $font-title-01;
  font-size: $s4;
  line-height: 1.1;
  font-weight: 700;
  @include bp($lg){ font-size: $s5; }
  @include bp($xl){ font-size: $s6; }
  @include bp($xxl){ font-size: $s7; }
  @include bp($xxxl){ font-size: $s8; }
}

.prize-builder {
  // game intro and title
  &__steps {
    position: relative;
    max-width: $xl;
    margin-left: auto;
    margin-right: auto;
    .prize-builder--complete & { display: none; }
  }
  &__step {
    display: none;
    position: absolute;
    width: 100%;
    &.is-active {
      position: relative;
      display: block;
    }
  }
  &__option {
    @include transition();
    transform: scale(1);
    margin: 1em;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__result {
    display: none;
    .prize-builder--complete & { display: block; }
    // title for results
    &-title { text-align: center; }
  }
}


