---
layout: standard
id: roadtrips
title: Roadtrips
group: true
nav: true
nav-order: 3

intro: >
  <p class="text--xl">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

---


<div class="container container--xxl space--xxl text--center">
  {{page.intro}}
</div>

<div class="vpad--xxl">

  <div class="container">
    <div class="row">
      {% assign hero-roadtrip = site.html_pages | where: 'id', 'family-getaway' %}
      {% for roadtrip in hero-roadtrip %}
        <div class="col col--12">
          {% include page/roadtrip-tile.html large="true" %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row row--4-4-4">
      {% assign roadtrips = site.html_pages | where: 'group-parent', page.id | sort: 'group-order' %}
      {% for roadtrip in roadtrips %}
        <div class="col">
          {% include page/roadtrip-tile.html %}
        </div>
      {% endfor %}
    </div>
  </div>

</div>



{% include page/promo-test-drive.html %}






