---
layout: default
---
{% assign roadtrip = page.roadtrip %}



{% include page/header.html class="roadtrip" %}



<!-- PAGE CONTENT -->
<div class="content-spacing section-spacing">

  <!-- ROADTRIP -->
  <div class="roadtrip" data-roadtrip-id="{{page.id}}" data-current-stop="0">

    <div class="roadtrip__map" id="map">
      <div class="roadtrip__map-close"></div>
    </div>

    <!-- ROADTRIP STOPS -->
    <div class="roadtrip__content">

      {% include roadtrip/intro.html %}

      {% for stop in roadtrip.stops %}
        {% include roadtrip/stop.html %}
      {% endfor %}

      {% include roadtrip/end.html %}

    </div>

  </div>

</div>


